<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryit.mapper.admin.AdminMenuMapper" >
	
	<!-- 保存 -->
	<insert id="save" parameterType="adminMenu">
		<!--  配置自增长
			将插入数据的主键返回,返回到User对象中, order="AFTER"
			select last_insert_id(): 得到刚insert进去记录的主键值,只适用于自增主键
			
			keyProperty: 将查询到主键值设置到parameterType指定的对象的哪个属性
		-->
		<!-- 创建时,修改时间与创建时间一样,修改人与创建人一致 -->
		insert into t_admin_menu (create_time,creater,name,pid,remark,update_time,updater,url) 
		values(NOW(),#{creater},#{name},#{pid},#{remark},NOW(),#{creater},#{url})
	</insert>
	
	<!-- 修改 -->

	<update id="edit">
		update t_admin_menu set name = #{name},pid = #{pid},remark = #{remark},
		update_time = NOW(),updater = #{updater},url = #{url} where id = #{id}
	</update>
	
	<!-- 删除 -->
	<delete id="deleteById" parameterType="int">
		delete from t_admin_menu where id=#{id}
	</delete>
	
	<!-- 菜单类 和 菜单表映射 -->
	<resultMap type="com.ryit.entity.admin.AdminMenu" id="getAdminMenu">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="url" property="url"/>
		<result column="pid" property="pid"/>
		<result column="remark" property="remark"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="creater" property="creater"/>
		<result column="updater" property="updater"/>
	</resultMap>
	
	<!-- 按id查询 -->
	<select id="getByID" parameterType="int" resultMap="getAdminMenu">
		select id,create_time,creater,name,pid,remark,update_time,updater,url from t_admin_menu where id=#{id}
	</select>
	
	<!-- 查询所有根菜单 -->
	<select id="findMenuRootList" resultMap="getAdminMenu">
		select id,create_time,creater,name,pid,remark,update_time,updater,url from t_admin_menu where pid is null
	</select>
	
	<!-- 查询所有 -->
	<select id="findAll" resultMap="getAdminMenu">
		select id,create_time,creater,name,pid,remark,update_time,updater,url from t_admin_menu
	</select>
	
	<!-- 查询 -->
	<select id="findMenuById" parameterType="string" resultMap="getAdminMenu">
		select id,create_time,creater,name,pid,remark,update_time,updater,url from t_admin_menu where name=#{menuId}
	</select>
	
	<!-- 查询子菜单数量 -->
	<select id="findChildById" resultType="int">
		select count(*) from t_admin_menu o where o.pid = #{id}
	</select>
	
	
	<!-- 分页查询 -->
	
	<select id="getAllAdminMenu" parameterType="map" resultMap="getAdminMenu" >
		select id,create_time,creater,name,pid,remark,update_time,updater,url from t_admin_menu order by id limit
		#{currentPage},#{pageSize}
	</select>
	
	<!-- 查询所有菜单记录 -->
	<select id="getAllRecord" resultType="int">
		select count(*) from t_admin_menu 
	</select>
	
	
	<!-- 根据角色 id 查询出所对应的菜单列表 -->
	<select id="getRoleIdByMenu" parameterType="int" resultMap="getAdminMenu">
		select m.id,m.create_time,m.creater,m.name,m.pid,m.remark,m.update_time,m.updater,m.url 
		from t_admin_menu m,t_admin_role_menu_mapping rm 
		where #{id} = rm.t_admin_role_id and m.id = rm.menus_id
	</select>
	
	
</mapper>